/* main color #212121 */
/* secondary color #757575 */
/* active color #2196F3 */
/* active second color #FFFFFF */

:root {
    --text-color-primary: #212121;
    --text-color-secondary: #757575;
    --text-color-accent: #2196F3;
    --logo-color-primary: #2196F3;
    --logo-color-secondary: black;
    --footer-color-text-primary:rgba(255, 255, 255, 0.6);;
    --footer-color-text-secondary: #ffffff;
    --footer-bg-color: #2F303A;
    font-family: 'Roboto';
}

/* Header */
.logo {
    text-decoration: none;
    color: var(--logo-color-primary);

    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        
}
.logo-part {
    color: var(--logo-color-secondary);
}
.nav-item,
.contact-item {
    list-style: none;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
    color: var(--text-color-accent);
}
.nav-link {
    text-decoration: none;
    color: var(--text-color-primary);
}
.nav-link.current {
    color: var(--text-color-accent);
}
.contact-link {
    text-decoration: none;
    color: var(--text-color-secondary);
}
/* body */


/* footer */
.footer {
    background-color: var(--footer-bg-color);
}
.logo-footer {
    text-decoration: none;
    color: var(--logo-color-primary);

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.logo-footer-part {
    color: var(--footer-color-text-secondary);
}
.footer-list {
    list-style: none;
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.address {
    color: var(--footer-color-text-secondary);
}
.footer-item {
    text-decoration: none;
    color: var(--footer-color-text-primary);
}